<!DOCTYPE html>
<head>
    <title>Crude Oil Price Prediction </title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body style="text-align:center">
    <h1> Crude Oil Price Prediction</h1>
    <p>   IBM-Project-22841-1659859096</p>
    <br><br>
    <a href="{{url_for('predict')}}"
     style="border-radius: 9px;padding: 10px;width: 150px;color:white;font-family: roboto;
    height: 40px;text-align: center;background: black; text-decoration: none;font-size: 20px;">
    Predict Oil Price</a>
    <br>
    <br>
    <table>
        <tr>
            <th> Technology </th>
            <th> Artificial Intelligence </th>
        </tr>
        <tr>
            <th> Team ID </th>
            <th> PNT2022TMID05981 </th>
        </tr>
        <tr>
            <td> Team Leader : Naveen Karthi P </td>
            <td> [1902126] </td>
        </tr>
        <tr>
            <td> Team member : Mahendra Prakash R </td>
            <td> [1902158] </td>
          </tr>
          <tr>
            <td> Team member : Muthu Rathis K </td>
            <td> [1902124] </td>
          </tr>
          <tr>
            <td> Team member : Rithick M </td>
            <td> [1902155] </td>
          </tr>
      </table>
      <br>
</body>
